@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 8px
}

@media screen and (min-width: 400px) {
  html {
    font-size: 10px
   }
}

@media screen and (min-width: 640px) {
  html {
    font-size: 14px
   }
}

@media screen and (min-width: 1024px) {
  html {
    font-size: 9px
   }
}

@media screen and (min-width: 1280px) {
  html {
    font-size: 12px
   }
}

@media screen and (min-width: 1920px) {
  html {
    font-size: 16px
   }
}

/* @media screen and (min-width: 2560px) {
  html {
    font-size: 22px
   }
}

@media screen and (min-width: 3840px) {
  html {
    font-size: 32px
   }
} */

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}